<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">Food Menu</h1>
            <a (click)="GotoAddFood()" class="btn btn-sm btn-success m-1">Create</a>
            <table class="table table-bordered ">
                <tr class="text-center">
                    <th>FoodId</th>
                    <th>FoodName</th>
                    <th>FoodType</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                
                    <tr class="text-center" *ngFor="let food of foods" >
                        <td>{{food.foodId}}</td>
                        <td>{{food.foodName}}</td>
                        <td>{{food.foodType}}</td>
                        <td>{{food.price}}</td>
                        <td><img class="rounded-circle" src={{food.imagePath}} style="width:150px" alt="" /></td>
                        <td>
                            <a class="btn btn-warning" (click)="GotoEditFood(food.foodId)" >Edit</a>
                            <a class="btn btn-danger p-2 m-2" (click)="DeleteFood(food)">Delete</a> 
                        </td>
                    </tr>
                
            </table>
        </div>
    </div>
</div>
