﻿@model RegistrationForm.Models.ViewModel.ApplicantViewModel

@*@{
    ViewData["Title"] = "ApplicantForm";
}*@

<div id="applicantForm">
    <h1 class="text-primary text-center">Registration Form</h1>
    <style>
        .control-label:after{
            color:red;
            content:"*";
        }
        body{
            background-image:repeating-linear-gradient(#43cea2,#185a9d);
        }

    </style>


    <hr />

    <div class="row">
        <div class="col-10 offset-1 ">
            <form enctype="multipart/form-data" asp-action="ApplicantForm">
                

                
                    
                       
                        
                            
                    <div>


                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h4 class="text-center">Login Details</h4>
                        <div class="border border-dark p-lg-5 pr-5 pb-5 rounded">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label fw-bold"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AlternateEmail" class=" fw-bold"></label>
                                <input asp-for="AlternateEmail" class="form-control" />
                                <span asp-validation-for="AlternateEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label fw-bold"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label fw-bold"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label fw-bold"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label fw-bold"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="WorkTypeId" class="control-label fw-bold"></label>
                                <div>
                                    @if (ViewBag.WorkTypeList != null)
                                    {
                                        @Html.DropDownListFor(model => model.WorkTypeId,ViewBag.WorkTypeList as SelectList,"----Select Work Type----", new {@class="form-control"})
                                    }
                                </div>
                                <span asp-validation-for="WorkTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="YourStatusId" class="control-label fw-bold"></label>
                                <div>
                                    @if (ViewBag.EmployeeStatusList != null)
                                    {
                                        @Html.DropDownListFor(model => model.YourStatusId,ViewBag.EmployeeStatusList as SelectList,"----Select Your Status----", new {@class="form-control"})
                                    }

                                </div>
                                <span asp-validation-for="YourStatusId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                               
                           
                        
                    

                    <h4 class="text-center">Personal Details</h4>
                    <div class="border border-dark p-lg-5 pr-5 pb-5 rounded">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label fw-bold"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <h5 class="text-center">Or(Give at least one contact information)</h5>
                        <div class="form-group">
                            <label asp-for="MobileNumber" class="control-label fw-bold"></label>
                            <input asp-for="MobileNumber" class="form-control" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateofBirth" class="control-label fw-bold"></label>
                            <input data-provide="datepicker" asp-for="DateofBirth" class="form-control" />
                            <span asp-validation-for="DateofBirth" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="GenderId" class="control-label fw-bold"></label>
                            <div>
                                @if (ViewBag.GenderList != null)
                                {
                                    @Html.DropDownListFor(model => model.GenderId,ViewBag.GenderList as SelectList,"----Select Your Gender----", new {@class="form-control"})
                                }
                            </div>
                            <span asp-validation-for="GenderId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaritalStatusId" class="control-label fw-bold"></label>
                            <div>
                                @if (ViewBag.MaritalList != null)
                                {

                                    @Html.DropDownListFor(model => model.MaritalStatusId,ViewBag.MaritalList as SelectList,"----Select Marital Status----", new {@class="form-control"})
                                }
                            </div>
                            <span asp-validation-for="MaritalStatusId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountryId" class="control-label fw-bold"></label>
                            <div>
                                @if (ViewBag.CountryList != null)
                                {
                                    @Html.DropDownListFor(model => model.CountryId,ViewBag.CountryList as SelectList,"----Select Your Country----", new {@class="form-control"})
                                }
                            </div>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StateId" class="control-label fw-bold"></label>
                            <div>
                                @Html.DropDownListFor(model => model.StateId,new SelectList(""),"----Select Your state----",new {@class="form-control"})
                            </div>
                            <span asp-validation-for="StateId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="District" class=" fw-bold"></label>
                            <input asp-for="District" class="form-control" />
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CityId" class="control-label fw-bold"></label>
                            <div>
                                @Html.DropDownListFor(model => model.CityId,new SelectList(""),"----Select Your City----",new {@class="form-control"})
                            </div>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LocalityId" class="control-label fw-bold"></label>
                            <div>
                                @Html.DropDownListFor(model => model.LocalityId,new SelectList(""),"----Select Locality----",new {@class="form-control"})
                            </div>
                            <span asp-validation-for="LocalityId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ZipCode" class="fw-bold"></label>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                    <h4 class="text-center">Educational Qualification</h4>
                    <div class="border border-dark p-lg-5 pr-5 pb-5 rounded">
                        <div class="form-group">
                            <label asp-for="HighestQualificationId" class="control-label fw-bold"></label>
                            <div>

                                @if (ViewBag.QualificationList != null)
                                {
                                    @Html.DropDownListFor(model => model.HighestQualificationId, ViewBag.QualificationList as SelectList,"----Select Highest Qualification----",new {@class="form-control"})
                                }
                            </div>
                            <span asp-validation-for="HighestQualificationId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SpecializationId" class="control-label fw-bold"></label>
                            @Html.DropDownListFor(model => model.SpecializationId,new SelectList(""),"----Select Specialization----",new {@class="form-control"})
                            <span asp-validation-for="SpecializationId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InstituteId" class="control-label fw-bold"></label>
                            @Html.DropDownListFor(model => model.InstituteId,new SelectList(""),"----Select Institute----",new {@class="form-control"})
                            <span asp-validation-for="InstituteId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OtherInstitute" class="control-label fw-bold"></label>
                            <input asp-for="OtherInstitute" class="form-control" />
                            <span asp-validation-for="OtherInstitute" class="text-danger"></span>
                        </div>
                    </div>
                    <h4 class="text-center">Professional Details</h4>
                    <div class="border border-dark p-lg-5 pr-5 pb-5 rounded">

                        <div class="form-group">
                            <label asp-for="PreferedLocationId" class="fw-bold"></label>
                            <div>
                                @if (ViewBag.PreferredLocationList != null)
                                {
                                    @Html.DropDownListFor(model => model.PreferedLocationId,ViewBag.PreferredLocationList as SelectList,"----Select Preferred Location----", new {@class="form-control"})
                                }
                            </div>
                            <span asp-validation-for="PreferedLocationId" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label fw-bold">
                                <input class="form-check-input" asp-for="RelocationStatus" />
                                @Html.DisplayNameFor(model => model.RelocationStatus)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalExperienceInYears" class="control-label fw-bold"></label>
                            <input asp-for="TotalExperienceInYears" class="form-control" />
                            <span asp-validation-for="TotalExperienceInYears" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalExperienceInMonths" class="control-label fw-bold"></label>
                            <input asp-for="TotalExperienceInMonths" class="form-control" />
                            <span asp-validation-for="TotalExperienceInMonths" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="JobCategoryId" class="control-label fw-bold"></label>
                            <div>
                                @if (ViewBag.JobList != null)
                                {

                                    @Html.DropDownListFor(model => model.JobCategoryId,ViewBag.JobList as SelectList,"----Select Job Category----", new {@class="form-control"})
                                }
                            </div>
                            <span asp-validation-for="JobCategoryId" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <input asp-for="EmployeeId" class="form-control" />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="KeySkillId" class="control-label fw-bold"></label>
                            @*<input asp-for="KeySkills" class="form-control" />
                            <span asp-validation-for="KeySkills" class="text-danger"></span>*@
                            @* <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                            <option value="AL">Alabama</option>

                            <option value="WY">Wyoming</option>
                            </select>*@
                            <div>
                                @if (ViewBag.KeySkillsList != null)
                                {
                                    @Html.DropDownListFor(model => model.KeySkillId,ViewBag.KeySkillsList as SelectList,"----Select Your Key Sills----",new {@class="form-control js-example-basic-multiple",@multiple="multiple"})
                                }
                            </div>

                        </div>
                        <div class="form-group">
                            <label asp-for="CurrentIndustryId" class=" fw-bold"></label>
                            <div>
                                @if (ViewBag.IndustryList != null)
                                {

                                    @Html.DropDownListFor(model => model.CurrentIndustryId,ViewBag.IndustryList as SelectList,"----Select Industry----", new {@class="form-control"})
                                }
                            </div>
                            <span asp-validation-for="CurrentIndustryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CurrentEmployerId" class=" fw-bold"></label>
                            @Html.DropDownListFor(model => model.CurrentEmployerId,ViewBag.CurrentEmployerList as SelectList,"----Select Your Current Employer----",new {@class="form-control"})
                            <span asp-validation-for="CurrentEmployerId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CurrentDesignation" class=" fw-bold"></label>
                            <input asp-for="CurrentDesignation" class="form-control" />
                            <span asp-validation-for="CurrentDesignation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PreviousEmployerId" class="fw-bold"></label>


                            @Html.DropDownListFor(model => model.PreviousEmployerId,new SelectList(""),"----Select Your Previous Employer----",new {@class="form-control"})


                            <span asp-validation-for="PreviousEmployerId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PreviousDesignation" class=" fw-bold"></label>
                            <input asp-for="PreviousDesignation" class="form-control" />
                            <span asp-validation-for="PreviousDesignation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NoticePeriodId" class=" fw-bold"></label>
                            <div>
                                @if (ViewBag.NoticePeriodList != null)
                                {
                                    @Html.DropDownListFor(model => model.NoticePeriodId,ViewBag.NoticePeriodList as SelectList,"----Notice Period in Months----",new {@class="form-control"})
                                }

                            </div>
                            <span asp-validation-for="NoticePeriodId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CtcinLakhPerAnumId" class=" fw-bold"></label>
                            @if (ViewBag.CtcInLakhList != null)
                            {
                                @Html.DropDownListFor(model => model.CtcinLakhPerAnumId, ViewBag.CtcInLakhList as SelectList,"----Select CTC In Lakhs----",new {@class="form-control"})
                            }
                            <span asp-validation-for="CtcinLakhPerAnumId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CtcinThousandPerAnumId" class=" fw-bold"></label>
                            @if (ViewBag.CtcInThousandList != null)
                            {
                                @Html.DropDownListFor(model => model.CtcinLakhPerAnumId, ViewBag.CtcInThousandList as SelectList,"----Select CTC In Thousands----",new {@class="form-control"})
                            }
                            <span asp-validation-for="CtcinThousandPerAnumId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ResumeTitle" class="control-label fw-bold"></label>
                            <input asp-for="ResumeTitle" class="form-control" />
                            <span asp-validation-for="ResumeTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ResumePath" class="fw-bold"></label>
                            <div class="custom-file">
                                <input asp-for="ResumePath" type="file" class="form-control custome-file-input" />
                                <label class="custom-file-label"></label>
                            </div>

                        </div>
                        <h5 class="text-center">Or</h5>
                        @* <div class="form-group">
                        <label asp-for="ResumePath" class="control-label"></label>
                        <input asp-for="ResumePath" class="form-control" />
                        <span asp-validation-for="ResumePath" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="CopyResume" class="fw-bold"></label>
                            <textarea id="CopyResume" class="ckeditor" asp-for="CopyResume" name="CopyResume"></textarea>
                            <span asp-validation-for="CopyResume" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-block btn-primary mb-2 mt-2 float-end" />
                    </div>

               
            </form>

        </div>
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<script src="~/js/registration.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script>
    $(document).ready(function () {
        CKEDITOR.replace('#CopyResume');
    });

    $(document).ready(function (){
        $('#accordian').accordion();
    });



    //   $(function () {
    //    var todayDate = new Date();
    //    var month = todayDate.getMonth() + 1;
    //    var day = todayDate.getDate();
    //    var year = todayDate.getFullYear();
    //    if (month < 0) {
    //        month = '0' + month.toString();
    //    }
    //    if (day < 10) {
    //        day = '0' + day.toString();
    //        var maxDate = year + '-' + month + '-' + day;
    //        $('.txtDate').prop('max', maxDate);
    //    }
    //})

</script>

<script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;// jan=0; feb=1 .......
        var day = dtToday.getDate();
        var maxYear = dtToday.getFullYear() - 18;
        var minYear = dtToday.getFullYear() - 60;
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();
        var minDate = minYear + '-' + month + '-' + day;
        var maxDate = maxYear + '-' + month + '-' + day;
        $('#DateofBirth').attr('max', maxDate);
        $('#DateofBirth').attr('min', minDate);
    });
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2({

        });
    });
    $(document).ready(function () {
        $("#Submit").click({

        })

    })

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}




