
 <!-- <a (click)="GotoViewCart()" class="btn btn-primary">View Cart</a>
<div class="custom-dashboard ">
  
<div class="card " *ngFor="let food of foods" style="width: 18rem;">
    <div class="card-body">
      <img class="card-img-top" src={{food.imagePath}} style="height: 15em;" >
      <h5 class="card-title">{{food.foodName}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{food.price}}₹</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{food.foodType}}</h6>
      <p class="card-text" style="height: 10em;">{{food.foodDiscription}}</p>
      <a asp-action="AddToCart"  (click)="AddToCart(food)" class="card-link btn btn-primary">Add To Cart</a>
       
    </div>
  </div>
</div>   -->


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> -->

    
  </head>
  <body>
    


<main>

  
  <a (click)="GotoViewCart()" class="btn btn-primary">View Cart</a>
  <div class="custom-dashboard">
         
          <div class="card shadow-sm" *ngFor="let food of foods">
            <img class="card-img-top" src={{food.imagePath}} style="height: 15em;" >
            <h5 class="card-title mt-2">{{food.foodName}}</h5>
            
            <div class="card-body">
              <h6 class="card-subtitle mb-2 fw-bold">Price:{{food.price}}₹</h6>
            <h6 class="card-subtitle mb-2 fw-bold">{{food.foodType}}</h6>
              <p class="card-text" style="height: 8em;">{{food.foodDiscription}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="AddToCart(food)" class="btn btn-primary btn-outline">Add To Cart</button>
                 
                </div>
              </div>
            </div>
          </div>
        
      
        
  
      
    </div>
 


</main>




    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>



  

  