﻿@model IEnumerable<FoodCart>

@{
    ViewData["Title"] = "GenerateBill";
}



<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">GenrateBill</h1>
            <a class="btn btn-primary m-1" asp-controller="FoodMenu" asp-action="Index">Menu</a>
            <a class="btn btn-success m-1" asp-action="GenerateBill">Generate the Bill</a>
            <a class="btn btn-warning" asp-action="RemoveElements">Pay the bill</a>
            <h1><span class="text-uppercase fw-bold text-primary">@User.Identity.Name</span>  Your Bill</h1>


            <h2 class="fw-bold">₹@ViewBag.bill</h2>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImgPath)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FoodName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                <img class="rounded-circle" src="@Html.DisplayFor(modelItem => item.ImgPath)" style="width:150px" alt="" />
                            </td>
                            <td>
                                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>
