﻿@model IEnumerable<FoodCart>

@{
    ViewData["Title"] = "ViewCart";
}

<script>
    function dontGo() {
        event.preventDefault();

    });

</script>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">Food Cart</h1>
            <a class="btn btn-primary m-1" asp-controller="FoodMenu" asp-action="Index">Menu</a>
            <a class="btn btn-warning m-1" asp-action="GenerateBill">Generate the Bill</a>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImgPath)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FoodName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                <img class="rounded-circle" src="@Html.DisplayFor(modelItem => item.ImgPath)" style="width:150px" alt="" />
                            </td>
                            <td>
                                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="dontGo">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>