<p>adminlogin works!</p>

<div class="container">
    <div class="row mt-lg-5">
    <div class="col-4 offset-4 border border-primary rounded p-lg-5 pr-5 pb-5 ">
        <div class="text-center">
            <h1 class="text-info">Admin Login</h1>
            <!-- <p class="text-center text-success">@TempData["successMessage"]</p> -->
        </div>
        <form method="post" >
            <div class="form-group">
                <label >UserName</label>
                <input type="text" [(ngModel)]="loginAdmin.userName" [ngModelOptions]="{standalone: true}" placeholder="Enter Username" class="form-control" autocomplete="off" />
                <!-- <span class="text-danger">@TempData["errorUsername"]</span> -->
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" [(ngModel)]="loginAdmin.password" [ngModelOptions]="{standalone: true}"  placeholder="Enter Password" class="form-control" />
                <!-- <i id="open" class="fa fa-eye float-end" style="margin-top:-25px; margin-right:6px;cursor:pointer"></i>
                <i id="closed" class="fa fa-eye-slash float-end" style="margin-top:-25px; margin-right:6px;display:none;cursor:pointer"></i> -->
                <!-- <span class="text-danger">@TempData["errorPassword"]</span> -->
            </div>
            <!-- <div class="form-group mt-2">
                <input type="checkbox" asp-for="IsRemember" class="form-check-input" />
                <label asp-for="IsRemember"></label>
            </div> -->
            <div class="form-group mt-2">
                <input type="submit" (click)="LoginAdmin()" class="btn btn-block btn-primary mb-2 mt-2" value="Log In" />
                <br>
            </div>
    
        </form>
    </div>
    
    </div>
    
    </div>
