
<!-- <div class="container">
<div class="row mt-lg-5">
<div class="col-4 offset-4 border border-primary rounded p-lg-5 pr-5 pb-5 ">
    <div class="text-center">
        <h1 class="text-info">User Login</h1>
       
    </div>
    <form method="post" >
        <div class="form-group">
            <label >UserName</label>
            <input type="text" [(ngModel)]="loginUser.userName" [ngModelOptions]="{standalone: true}" placeholder="Enter Username" class="form-control" autocomplete="off" />
            
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" [(ngModel)]="loginUser.password" [ngModelOptions]="{standalone: true}" placeholder="Enter Password" class="form-control" />
            
        </div>
    
        <div class="form-group mt-2">
            <input type="submit" (click)="LoginUser()" class="btn btn-block btn-primary mb-2 mt-2" value="Log In" />
            <br>
            <p>Not Registered Yet??</p>
            <a class="text-light btn btn-block btn-primary  fw-bold mb-2"  (click)="SignUp()" >SignUp</a>
            <p>Are You An Admin</p>
            <a class="text-light btn btn-block btn-warning  fw-bold mb-2"  (click)="Admin()" >Admin Login</a>
        </div>

    </form>
</div>

</div>

</div> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>User Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="login.component.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form>
    
    <h1 class="h3 mb-3 fw-normal">User Login</h1>
    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
    <div class="form-floating">
      <input  [(ngModel)]="loginUser.userName"  [ngModelOptions]="{standalone: true}" type="text" class="form-control"  placeholder="name@example.com">
      <label for="floatingInput">UserName</label>
    </div>
    <div class="form-floating">
      <input [(ngModel)]="loginUser.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Password">
      <!-- <i id="open" class="fa fa-eye float-end" style="margin-top:-25px; margin-right:6px;cursor:pointer"></i>
      <i id="closed" class="fa fa-eye-slash float-end" style="margin-top:-25px; margin-right:6px;display:none;cursor:pointer"></i> -->
      <label for="floatingPassword">Password</label>
    </div>
    <button (click)="LoginUser()" class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <div class="checkbox mb-3">
        <p>Not Registered Yet??</p>
        <a class="text-light btn btn-block btn-primary  fw-bold mb-2"  (click)="SignUp()" >SignUp</a>
        <p>Are You An Admin?</p>
        <a class="text-light btn btn-block btn-warning  fw-bold mb-2"  (click)="Admin()" >Admin Login</a>
    </div>
    
    <p class="mt-5 mb-3 text-muted"></p>
  </form>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

  $(document).ready(function () {
      $("#open").click(function () {
          $("#open").hide();
          $("#closed").show();
          $("#password").attr("type", "text");
      });
      $("#closed").click(function () {
          $("#closed").hide();
          $("#open").show();
          $("#password").attr("type", "password");
      });
  });

</script>
</body>
</html>