﻿
@model RegistrationForm.Models.PreviousEmployerTbl;

<option value="">---select---Previous Employer---</option>
@if (ViewBag.PreviousEmployerList != null)
{
    foreach (var item in ViewBag.PreviousEmployerList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}