﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RegistrationForm.Models.InstituteTbl

<option value="">---Select Institute---</option>
@if (ViewBag.InstituteList != null)
{
    foreach (var item in ViewBag.InstituteList)
    {
        <option value="@item.Value">@item.Text</option>
    }
    <option value=0>Other Institute</option>
}