﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model RegistrationForm.Models.LocalityTbl;

<option value="">---select Locality---</option>
@if (ViewBag.LocalityList != null)
{
    foreach (var item in ViewBag.LocalityList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}