﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model RegistrationForm.Models.SpecializationTbl

<option value="">---Select Specialization---</option>
@if (ViewBag.SpecializationList != null)
{
    foreach (var item in ViewBag.SpecializationList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
