﻿<div class="d-flex row justify-content-center h-50">
    <div class="d-flex justify-content-center">
    <img style="width:10em" src="https://www.bing.com/th?id=OIP.scmbLN6CDx2cjqtpZx0OhQHaHa&w=150&h=150&c=8&rs=1&qlt=90&o=6&dpr=1.56&pid=3.1&rm=2" />
    </div>
    <h1 class="text-warning text-center w-75"> Some Unknown Error is Occured !!!</h1>
    <h5 class="text-secondary text-center">An error occurred while processing your request. Please try again later.</h5>
    <br />
</div>
