﻿@model ApplicantForm.Models.ViewModel.ApplicantViewModel

@{
    ViewData["Title"] = "ApplicantForm";
}

<h1>ApplicantForm</h1>

<h4>ApplicantViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplicantForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternateEmail" class="control-label"></label>
                <input asp-for="AlternateEmail" class="form-control" />
                <span asp-validation-for="AlternateEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTypeId" class="control-label"></label>
                <input asp-for="WorkTypeId" class="form-control" />
                <span asp-validation-for="WorkTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusId" class="form-control" />
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofBirth" class="control-label"></label>
                <input asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <input asp-for="GenderId" class="form-control" />
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatusId" class="control-label"></label>
                <input asp-for="MaritalStatusId" class="form-control" />
                <span asp-validation-for="MaritalStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <input asp-for="CountryId" class="form-control" />
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <input asp-for="StateId" class="form-control" />
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <input asp-for="CityId" class="form-control" />
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalityId" class="control-label"></label>
                <input asp-for="LocalityId" class="form-control" />
                <span asp-validation-for="LocalityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighestQualificationId" class="control-label"></label>
                <input asp-for="HighestQualificationId" class="form-control" />
                <span asp-validation-for="HighestQualificationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecializationId" class="control-label"></label>
                <input asp-for="SpecializationId" class="form-control" />
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituteId" class="control-label"></label>
                <input asp-for="InstituteId" class="form-control" />
                <span asp-validation-for="InstituteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherInstitute" class="control-label"></label>
                <input asp-for="OtherInstitute" class="form-control" />
                <span asp-validation-for="OtherInstitute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferedLocationId" class="control-label"></label>
                <input asp-for="PreferedLocationId" class="form-control" />
                <span asp-validation-for="PreferedLocationId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RelocationStatus" /> @Html.DisplayNameFor(model => model.RelocationStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TotalExperienceInYears" class="control-label"></label>
                <input asp-for="TotalExperienceInYears" class="form-control" />
                <span asp-validation-for="TotalExperienceInYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalExperienceInMonths" class="control-label"></label>
                <input asp-for="TotalExperienceInMonths" class="form-control" />
                <span asp-validation-for="TotalExperienceInMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCategoryId" class="control-label"></label>
                <input asp-for="JobCategoryId" class="form-control" />
                <span asp-validation-for="JobCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeySkills" class="control-label"></label>
                <input asp-for="KeySkills" class="form-control" />
                <span asp-validation-for="KeySkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentIndustryId" class="control-label"></label>
                <input asp-for="CurrentIndustryId" class="form-control" />
                <span asp-validation-for="CurrentIndustryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentEmployer" class="control-label"></label>
                <input asp-for="CurrentEmployer" class="form-control" />
                <span asp-validation-for="CurrentEmployer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentDesignation" class="control-label"></label>
                <input asp-for="CurrentDesignation" class="form-control" />
                <span asp-validation-for="CurrentDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousEmployer" class="control-label"></label>
                <input asp-for="PreviousEmployer" class="form-control" />
                <span asp-validation-for="PreviousEmployer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousDesignation" class="control-label"></label>
                <input asp-for="PreviousDesignation" class="form-control" />
                <span asp-validation-for="PreviousDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoticePeriod" class="control-label"></label>
                <input asp-for="NoticePeriod" class="form-control" />
                <span asp-validation-for="NoticePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtcinLakh" class="control-label"></label>
                <input asp-for="CtcinLakh" class="form-control" />
                <span asp-validation-for="CtcinLakh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtcinThousand" class="control-label"></label>
                <input asp-for="CtcinThousand" class="form-control" />
                <span asp-validation-for="CtcinThousand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeTitle" class="control-label"></label>
                <input asp-for="ResumeTitle" class="form-control" />
                <span asp-validation-for="ResumeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumePath" class="control-label"></label>
                <input asp-for="ResumePath" class="form-control" />
                <span asp-validation-for="ResumePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopyResume" class="control-label"></label>
                <input asp-for="CopyResume" class="form-control" />
                <span asp-validation-for="CopyResume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

