﻿@{
    ViewData["Title"] = "Home Page";
}


dataFrom:: @ViewData["data1"]
@ViewBag.data2

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
