
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Add Food</h1>
                    <!-- <p class="text-center text-danger">@TempData["message"]</p> -->
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label >Food Name</label>
                            <input [(ngModel)]="food.foodName"  [ngModelOptions]="{standalone: true}" type="text"  class="form-control" placeholder="Enter Food Name" />
                            <!-- <span asp-validation-for="FoodName" class="text-danger" ></span> -->
                        </div>
                        <div class="form-group">
                            <label >Food Type</label>
                            <input type="text" [(ngModel)]="food.foodType" type="text" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter Food Type" />
                            <!-- <span asp-validation-for="FoodType" class="text-danger"></span> -->
                        </div>
                        <div class="form-group">
                            <label >Food Price</label>
                            <input  type="text" [(ngModel)]="food.price" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Enter Food Price" />
                            <!-- <span asp-validation-for="Price" class="text-danger"></span> -->
                        </div>
                        <div class="form-group">
                            <label>Food Price</label>
                            <input type="text" [(ngModel)]="food.imagePath" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter Image Url" />
                            <!-- <span asp-validation-for="ImgPath" class="text-danger"></span> -->
                        </div>
                        <div class="form-group">
                            <label >Food Discription</label>
                            <textarea [(ngModel)]="food.foodDiscription" [ngModelOptions]="{standalone: true}" class="form-control" rows="3"></textarea>
                          </div>
                        <div class="form-group">
                            <input type="submit" (click)="AddFood()" value="Submit" class="btn btn-sm btn-outline-success float-end m-2" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <form>
    <div class="form-group">
      <label >FoodName</label>
      <input [(ngModel)]="food.foodName"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="FoodName">
    </div>
    <div class="form-group">
      <label>FoodType</label>
      <input [(ngModel)]="food.foodType" type="text" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="FoodType">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input [(ngModel)]="food.price" [ngModelOptions]="{standalone: true}"  type="text" class="form-control"  placeholder="Price">
      </div>
      <div class="form-group">
        <label>Image Path</label>
        <input [(ngModel)]="food.imagePath" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  placeholder="Image Path">
      </div>
      <div class="form-group">
        <label >Food Discription</label>
        <textarea [(ngModel)]="food.foodDiscription" [ngModelOptions]="{standalone: true}" class="form-control" rows="3"></textarea>
      </div>
    <button (click)="AddFood()" type="submit" class="btn btn-primary">Add</button>
  </form> -->