﻿@model IEnumerable<Hackathonpro.Models.Food>

@{
    ViewData["Title"] = "DashBoard";
}
<style >
    img{
        height : 100px ;
        width : 100px ; 
    }
</style>

<script>
    function dontGo (){
        event.preventDefault();
    }
</script>
<h1>DashBoard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
           


                <tr>
                    <td>
                 <img src = "@Html.DisplayFor(modelItem => item.ImgSource)" alt= ""/>
             
            </td>
             
            <td >
                
                @Html.DisplayFor(modelItem => item.FoodName)
               
            </td>
            
            <td>
                
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a asp-action="AddToCart" asp-route-id="@item.Id"  onclick="dontGo">Add to Cart</a>
                <button >Buy Now</button>
            </td>
        </tr>
}       

          <a asp-action="ViewCart" >View Cart</a>
    </tbody>
</table>
