﻿@model IEnumerable<Hackathonpro.Models.AddToCart>

@{
    ViewData["Title"] = "GenerateBill";
}

<style>
    img{
        height: 100px;
        width : 200px;
    }
</style>

<h1>Your Bill</h1>


<h2>@ViewBag.bill</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src = "@Html.DisplayFor(modelItem => item.ImageSource)" alt=" "/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            
            <td>
              
            </td>
        </tr>
}
<a asp-action="RemoveElements" >Pay the bill</a>
    </tbody>
</table>
