﻿@model IEnumerable<Hackathonpro.Models.AddToCart>

@{
    ViewData["Title"] = "ViewCart";
}
<style>
    img{
        height : 100px;
        width : 100px;
    }
</style>
<h1>ViewCart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.ImageSource)" alt=" "/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            
            <td>
              
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
} 
<a asp-action="GenerateBill" >Generate the Bill</a>
    </tbody>
</table>
