
<!-- <div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3 border border-primary rounded pl-5 pb-2 pr-5 ">
            <div class="text-center">
                <h1 class="text-info">User SignUp</h1>
                
            </div>
            <form method="post" >
                <div class="form-group">
                    <label >UserName </label>
                    <input type="text" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}" placeholder="Enter UserName" class="form-control" autocomplete="off" />
                   
                </div>
                <div class="form-group">
                    <label >Email</label>
                    <input type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Enter Email" class="form-control" autocomplete="off" />
                    
                </div>
                <div class="form-group">
                    <label >Location</label>
                    <input type="text" [(ngModel)]="user.location" [ngModelOptions]="{standalone: true}" placeholder="Enter Location" class="form-control" autocomplete="off" />
                  
                </div>
                <div class="form-group">
                    
                        <div class="form-group">
                            <label >Password</label>
                            <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" asp-for="Password" placeholder="Enter Password" class="form-control" autocomplete="off" />
                            <span class="text-danger"></span>
                        </div>
                    
                    
                </div>
                
                <div class="form-group">
                    <input type="submit" (click)="RegisterUser()" class="btn btn-success btn-lg mb-2 mt-3 float-end" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>User SignUp</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="signup.component.css" rel="stylesheet">
  </head>
  <body class="text-center">
     
<main class="form-signin">
  <form>
   
    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
    <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>

    <div class="form-floating">
        <input [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  placeholder="name@example.com">
        <label for="floatingInput">UserName</label>
      </div>
    <div class="form-floating">
      <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control"  placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input [(ngModel)]="user.location" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Location</label>
      </div>
    <div class="form-floating">
      <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"  type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    
    <button class="w-100 btn btn-lg btn-primary" (click)="RegisterUser()" type="submit">Register</button>
  </form>
</main>


    
  </body>
</html>