﻿@model PdfReport.Model.Empoyee


<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1>Employee Information</h1>
            <table>

                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td>@Model.EmpId</td>
                        <td>Name:</td>
                        <td>@Model.EmpName</td>
                        <td>Department</td>
                        <td>@Model.Department</td>
                        <td>Designation</td>
                        <td>@Model.Designation</td>

                    </tr>
                </tbody>
            </table>

        </body>


    </head>

</html>