

<!-- <div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">Bill</h1>
            <table class="table table-bordered ">
                <tr class="text-center">
                    
                    <th>Invoice Number</th>
                    <th>UserName</th>
                    <th>TotalAmout</th>
                    <th>Gst Amout</th>
                    <th>Grand Total</th>
                    
                </tr>
                
                    <tr class="text-center" *ngFor="let item of bill" >
                       
                        <td>{{item.invoiceNo}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.totalAmount}}</td>
                        <td>{{item.gstAmount}}</td>
                        <td>{{item.grandTotal}}</td>
                    </tr>
                
            </table>
        </div>
    </div>
</div> -->

<div class="container"  >
    <div class="row">
        <div class="col-6 offset-3">
<div class="card" *ngFor="let item of bill" >
    <div class="card-body mx-4">
      <div class="container" id="pdfTable" #pdfTable>
        <p class="my-5 mx-5 text-center" style="font-size: 50px;">Bill</p>
        <div class="row">
          <ul class="list-unstyled">
            <li class="text-black text-uppercase fw-bold">{{item.userName}}</li>
            <li class="text-muted mt-1"><span class="text-black fw-bold">Invoice Number</span>{{item.invoiceNo}}</li>
            <li class="text-black mt-1 fw-bold"> Date: <span>{{currentDate}}</span> </li>
          </ul>
          <hr>
          <ol>
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Food Name</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartItem of viewCart">
                <th><li></li></th>
                <th>{{cartItem.foodName}}</th>
                <th>{{cartItem.quantity}}</th>
                <th>{{cartItem.price}}</th>
              </tr>
            </tbody>
            </table>
          </ol>
          <div class="col-xl-10">
            <p class="fw-bold">Total Amount</p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">₹{{item.totalAmount}}
            </p>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-xl-10">
            <p class="fw-bold">Tax Amount @18%</p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">₹{{item.gstAmount}}
            </p>
          </div>
          <hr>
        </div>
        <div class="row">
          <hr style="border: 2px solid black;">
        </div>
        <div class="row text-black">
  
          <div class="col-xl-12">
            <p class="float-end fw-bold">Total: ₹{{item.grandTotal}}
            </p>
          </div>
          <hr style="border: 2px solid black;">
          
        </div>
        
  
      </div>
      <a (click)="PrintBill()"  class="btn btn-primary">Print Bill</a>
        <a (click)="PayBill(item.grandTotal)" class="btn btn-primary float-end">Pay Bill</a>
    </div>
  </div>
</div>
</div>
</div>
