﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ApplicantForm.Models.CityTbl;

<option value="">---select---City---</option>
@if (ViewBag.CityList != null)
{
    foreach (var item in ViewBag.CityList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}