﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model ApplicantForm.Models.StateTbl;

<option value="">---select---state---</option>
@if (ViewBag.StateList != null)
{
    foreach (var item in ViewBag.StateList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}