﻿@model IEnumerable<FoodApp_Mvc.Models.ViewModel.LoginSignupViewModel>
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3 border border-primary rounded pl-5 pb-2 pr-5 ">
            <div class="text-center">
                <h1 class="text-info">User Registration</h1>
                <h3 class="text-center text-danger">@TempData["errorMessage"]</h3>
            </div>
             <form method="post" asp-action="SignUp">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input type="text" asp-for="UserName" placeholder="Enter UserName" class="form-control" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
       
</div>

