
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  href="#" routerLink="">Home</a>
          <a class="nav-link" href="#" routerLink="login" [hidden]="!IsUserValid()">Login</a>
          <a class="nav-link "  href="#" routerLink="signup"[hidden]="!IsUserValid()">Register</a>
          <!-- <a class="nav-link "  href="" [hidden]="IsUserValid()"  routerLink="viewCart"> View Cart <i class="fas fa-shopping-cart"></i></a> -->
          
          <!-- <a class="nav-link" href="#" routerLink="admindashboard">Admin</a> -->
        </div>
        <div>
          <button class="btn btn-sm btn-danger fw-bold float-end" [hidden]="IsUserValid()" (click)="LogOut()">LogOut</button>
          
        </div>
        
      </div>
    </div>
  </nav>

  

