﻿@model StudentPersistantLayer.Model.Student

@{
    ViewData["Title"] = "EditProduct";
}

<h1>EditProduct</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentLocation" class="control-label"></label>
                <input asp-for="StudentLocation" class="form-control" />
                <span asp-validation-for="StudentLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentBranch" class="control-label"></label>
                <input asp-for="StudentBranch" class="form-control" />
                <span asp-validation-for="StudentBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
