﻿@*@model IEnumerable<StudentPersistantLayer.Model.StudentView>*@
@model IEnumerable<POC_2.Models.StudentViewModel>
@{
    ViewData["Title"] = "GetAllStudents";
}

<h1>GetAllStudents</h1>

<p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="AddStudent">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentBranch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentBranch)
            </td>
            <td>
                    <a asp-action="EditStudent" asp-controller="Home" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="DeleteStudent" asp-controller="Home" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
