﻿@model       Food
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Add Food</h1>
                    <p class="text-center text-danger">@TempData["message"]</p>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Create">
                        <div class="form-group">
                            <label asp-for="FoodName"></label>
                            <input type="text" asp-for="FoodName" class="form-control" placeholder="Enter Food Name" />
                            <span asp-validation-for="FoodName" class="text-danger" ></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FoodType"></label>
                            <input type="text" asp-for="FoodType" class="form-control" placeholder="Enter Food Type" />
                            <span asp-validation-for="FoodType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input type="text" asp-for="Price" class="form-control" placeholder="Enter Food Price" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImgPath"></label>
                            <input type="text" asp-for="ImgPath" class="form-control" placeholder="Enter Image Url" />
                            <span asp-validation-for="ImgPath" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-end m-2" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

