﻿@model Food
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Edit Food</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit">
                        <div class="form-group">
                            <label asp-for="FoodName"></label>
                            <input type="hidden" asp-for="Foodid" />
                            <input type="text" asp-for="FoodName" class="form-control" placeholder="Enter Food Name" />
                        </div>
                        <div class="form-group">
                            <label asp-for="FoodType"></label>
                            <input type="text" asp-for="FoodType" class="form-control" placeholder="Enter Food Type" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input type="text" asp-for="Price" class="form-control" placeholder="Enter Food Price" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ImgPath"></label>
                            <input type="text" asp-for="ImgPath" class="form-control" placeholder="Enter Image Url" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-right m-2" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

