﻿@model IEnumerable<Food>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">Food Menu</h1>
            <a class="btn btn-sm btn-success m-1" asp-controller="Food" asp-action="Create">Create</a>
            <p class="text-center text-success">@TempData["show"]</p>
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>FoodId</th>
                    <th>FoodName</th>
                    <th>FoodType</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                @foreach(var data in Model){
                    <tr class="text-center">
                        <td>@data.Foodid</td>
                        <td>@data.FoodName</td>
                        <td>@data.FoodType</td>
                        <td>@data.Price</td>
                        <td><img class="rounded-circle" src="@Html.DisplayFor(modelItem => data.ImgPath)" style="width:150px" alt="" /></td>
                        <td>
                            <a class="btn btn-sm btn-warning" asp-controller="Food" asp-action="Edit" asp-route-id="@data.Foodid">Edit</a>
                            <a class="btn btn-sm btn-danger" asp-controller="Food" asp-action="Delete" asp-route-id="@data.Foodid">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

