﻿@model CodeFirst_CRUD.Models.ViewModel.LoginSignUpViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border border-primary rounded p-lg-5 pr-5 pb-5">
            <div class="text-center">
                <h1 class="text-info">User Login</h1>
                <p class="text-center text-success">@TempData["successMessage"]</p>
            </div>
            <h6 class="text-success text-center"></h6>
            <form method="post" asp-action="Login">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input type="text" asp-for="UserName" placeholder="Enter Username" class="form-control" autocomplete="off" />
                    <span class="text-danger">@TempData["errorUsername"]</span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input id="password" type="password" asp-for="Password" placeholder="Enter Password" class="form-control" autocomplete="off" />
                    <i id="open" class="fa fa-eye float-end" style="margin-top:-25px; margin-right:6px;cursor:pointer"></i>
                    <i id="closed" class="fa fa-eye-slash float-end" style="margin-top:-25px; margin-right:6px;display:none;cursor:pointer"></i>
                    <span class="text-danger">@TempData["errorPassword"]</span>
                </div>
                <div class="form-group mt-2">
                    <input type="checkbox" asp-for="IsRemember" class="form-check-input" />
                    <label asp-for="IsRemember"></label>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" class="btn btn-block btn-primary mb-2 mt-2" value="Log In" />
                    <a class="text-light btn btn-primary fw-bold mb-2 mt-2" asp-action="SignUp" asp-controller="Account">SignUp</a>
                </div>

            </form>
            <div class="text-center">
                <a class="text-primary" asp-action="ForgetUsername" asp-action="ForgotUsername">Forget Username??</a> <a class="text-primary" asp-action="ForgotPassword">Forgot Password??</a>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#open").click(function () {
            $("#open").hide();
            $("#closed").show();
            $("#password").attr("type", "text");
        });
        $("#closed").click(function () {
            $("#closed").hide();
            $("#open").show();
            $("#password").attr("type", "password");
        });
    });

</script>
