<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/2122280/pexels-photo-2122280.jpeg" class="d-block w-100 vh-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/free-photo/closeup-shot-four-delicious-sliders-pile-crispy-fries-slate-plate_181624-33181.jpg" class="d-block w-100 vh-100" alt="...">
      </div>
     
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/9980749/pexels-photo-9980749.jpeg" class="d-block w-100 vh-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/3763847/pexels-photo-3763847.jpeg" class="d-block w-100 vh-100" alt="...">
      </div>
   
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>