


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">Food Cart</h1>
            <a (click)="GotoGenerateBill()" class="btn btn-success">Generate Bill</a>
            <a (click)="GotoMenu()" class="btn btn-primary pl-2 m-2 ">View Menu</a>
            <table class="table table-bordered ">
                <tr class="text-center">
                    
                    <th>FoodName</th>
                    <th>FoodType</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Image</th>
                    <th class="m-2">Action</th>
                </tr>
                
                    <tr class="text-center" *ngFor="let food of viewCart" >
                       
                        <td>{{food.foodName}}</td>
                        <td>{{food.foodType}}</td>
                        <td>{{food.quantity}}</td>
                        <td>{{food.total}}</td>
                        <td><img class="rounded-circle" src={{food.imagePath}} style="width:150px" alt="" /></td>
                        <td class="m-2">
                            <!-- <a class="btn btn-sm btn-primary p-2 m-2" (click)="GotoEditFood(food)" >Edit</a> -->
                            <a (click)="DeleteItem(food.cartId)" class="btn btn-outline-primary">Delete</a> 
                        </td>
                    </tr>
                
            </table>
        </div>
    </div>
</div>